.easy {
  background: -webkit-linear-gradient(left, green, black);
  background: -o-linear-gradient(right, green, black);
  background: -moz-linear-gradient(right, green, black);
  background: linear-gradient(to right, green, black);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hard {
  background: -webkit-linear-gradient(left, black, red);
  background: -o-linear-gradient(right, black, red);
  background: -moz-linear-gradient(right, black, red);
  background: linear-gradient(to right, black, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .easy {
    background: -webkit-linear-gradient(left, green, white);
    background: -o-linear-gradient(right, green, white);
    background: -moz-linear-gradient(right, green, white);
    background: linear-gradient(to right, green, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hard {
    background: -webkit-linear-gradient(left, white, red);
    background: -o-linear-gradient(right, white, red);
    background: -moz-linear-gradient(right, white, red);
    background: linear-gradient(to right, white, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
